[MASTER]
init-hook='import sys; sys.path.append("c:/Users/Jean-Michel/.vscode/extensions/joedevivo.vscode-circuitpython-0.1.3/boards/0x239A/0x8019");sys.path.append("c:/Users/Jean-Michel/.vscode/extensions/joedevivo.vscode-circuitpython-0.1.3/stubs");sys.path.append("c:/Users/Jean-Michel/AppData/Roaming/Code/User/globalStorage/joedevivo.vscode-circuitpython/bundle/20201028/adafruit-circuitpython-bundle-py-20201028/lib")'
